-- MySQL dump 10.13  Distrib 8.4.6, for Win64 (x86_64)
--
-- Host: localhost    Database: sistema_boletas
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `boleta`
--

DROP TABLE IF EXISTS `boleta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `boleta` (
  `id_boleta` int NOT NULL AUTO_INCREMENT,
  `tipo` enum('PROFORMA','VENTA') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_emision` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `cliente_nombre` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `cliente_dni` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `cliente_ruc` varchar(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `empresa_ruc` varchar(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `atendido_por` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `dni_atiende` varchar(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `subtotal` decimal(10,2) NOT NULL DEFAULT '0.00',
  `total` decimal(10,2) NOT NULL DEFAULT '0.00',
  `numero_boleta` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_boleta`),
  UNIQUE KEY `numero_boleta` (`numero_boleta`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boleta`
--

LOCK TABLES `boleta` WRITE;
/*!40000 ALTER TABLE `boleta` DISABLE KEYS */;
/*!40000 ALTER TABLE `boleta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `boleta_detalle_producto`
--

DROP TABLE IF EXISTS `boleta_detalle_producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `boleta_detalle_producto` (
  `id_detalle_producto` int NOT NULL AUTO_INCREMENT,
  `id_boleta` int NOT NULL,
  `nombre_producto` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `cantidad` int NOT NULL DEFAULT '1',
  `precio_unitario` decimal(10,2) NOT NULL DEFAULT '0.00',
  `total_item` decimal(10,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id_detalle_producto`),
  KEY `id_boleta` (`id_boleta`),
  CONSTRAINT `boleta_detalle_producto_ibfk_1` FOREIGN KEY (`id_boleta`) REFERENCES `boleta` (`id_boleta`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boleta_detalle_producto`
--

LOCK TABLES `boleta_detalle_producto` WRITE;
/*!40000 ALTER TABLE `boleta_detalle_producto` DISABLE KEYS */;
/*!40000 ALTER TABLE `boleta_detalle_producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `boleta_equipo`
--

DROP TABLE IF EXISTS `boleta_equipo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `boleta_equipo` (
  `id_boleta_equipo` int NOT NULL AUTO_INCREMENT,
  `id_boleta` int NOT NULL,
  `id_equipo_catalogo` int NOT NULL,
  `descripcion_equipo` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_boleta_equipo`),
  KEY `id_boleta` (`id_boleta`),
  KEY `id_equipo_catalogo` (`id_equipo_catalogo`),
  CONSTRAINT `boleta_equipo_ibfk_1` FOREIGN KEY (`id_boleta`) REFERENCES `boleta` (`id_boleta`) ON DELETE CASCADE,
  CONSTRAINT `boleta_equipo_ibfk_2` FOREIGN KEY (`id_equipo_catalogo`) REFERENCES `equipo_catalogo` (`id_equipo_catalogo`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boleta_equipo`
--

LOCK TABLES `boleta_equipo` WRITE;
/*!40000 ALTER TABLE `boleta_equipo` DISABLE KEYS */;
INSERT INTO `boleta_equipo` VALUES (17,15,1,'I7 4gb ram'),(18,16,2,'i7 9na'),(19,17,2,'i7 9na'),(20,18,2,'i7 de 9na'),(21,19,1,'i7 de 9na, 16gb ram'),(22,19,2,'i5 7ma, 8gb ram'),(23,20,2,'i7 de 9na, 8gb ram'),(24,20,3,'epson l666'),(27,22,1,'javbsduiabsd'),(28,22,3,'kjavbsdjbasd');
/*!40000 ALTER TABLE `boleta_equipo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `boleta_equipo_servicio`
--

DROP TABLE IF EXISTS `boleta_equipo_servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `boleta_equipo_servicio` (
  `id_boleta_equipo_servicio` int NOT NULL AUTO_INCREMENT,
  `id_boleta_equipo` int NOT NULL,
  `nombre_servicio` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `precio_servicio` decimal(10,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id_boleta_equipo_servicio`),
  KEY `id_boleta_equipo` (`id_boleta_equipo`),
  CONSTRAINT `boleta_equipo_servicio_ibfk_1` FOREIGN KEY (`id_boleta_equipo`) REFERENCES `boleta_equipo` (`id_boleta_equipo`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boleta_equipo_servicio`
--

LOCK TABLES `boleta_equipo_servicio` WRITE;
/*!40000 ALTER TABLE `boleta_equipo_servicio` DISABLE KEYS */;
INSERT INTO `boleta_equipo_servicio` VALUES (24,17,'Aumento de ram 4gb ',60.00),(25,18,'cambio de pasta termina',90.00),(26,19,'cambio de pasta termina',90.00),(27,20,'cambio de pasta termica',15.00),(28,21,'mantenimiento',90.00),(29,21,'cambio de pasta termica',15.00),(30,22,'mantenimiento',90.00),(31,23,'mantenimiento',90.00),(32,23,'reparacion de pantalla',120.00),(33,24,'cambio de tinta',20.00),(34,24,'cambio de cabezales',70.00),(38,27,'jiabsdu9ibasd',90.00),(39,27,'jkzbsdjikzbsdc ',120.00),(40,28,'ojaksbdujoasdbn',30.00);
/*!40000 ALTER TABLE `boleta_equipo_servicio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipo_catalogo`
--

DROP TABLE IF EXISTS `equipo_catalogo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipo_catalogo` (
  `id_equipo_catalogo` int NOT NULL AUTO_INCREMENT,
  `nombre_equipo` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_equipo_catalogo`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipo_catalogo`
--

LOCK TABLES `equipo_catalogo` WRITE;
/*!40000 ALTER TABLE `equipo_catalogo` DISABLE KEYS */;
INSERT INTO `equipo_catalogo` VALUES (1,'PC'),(2,'Laptop'),(3,'Impresora');
/*!40000 ALTER TABLE `equipo_catalogo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trabajadores`
--

DROP TABLE IF EXISTS `trabajadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trabajadores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `dni` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trabajadores`
--

LOCK TABLES `trabajadores` WRITE;
/*!40000 ALTER TABLE `trabajadores` DISABLE KEYS */;
INSERT INTO `trabajadores` VALUES (1,'Alvaro Palomino','60747668');
/*!40000 ALTER TABLE `trabajadores` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-15 16:46:10
